/* 
    Document   : blog
    Created on : 27 avr. 2010
    Author     : vincent
    Description:
       css of the blog
*/

#searchbar {
	height:29px;
}

#rssIcon {
	width:37px;
	height:37px;
	background:url(../../img/blog/rss_v2.png);
	position:relative;
	top:-6px;
}

.day li {
	float:left;
	width:59px;  /* -1px border */
}

.borderimage .day li {
	width:56px; /* -4px part of border */
}

.borderimage #brevesWrapper.plainBorderLeft {
	border:0;
}

/**
DISQUS
*/
#dsq-new-post > h3 {
	display:none !important
}

#dsq-comments-title h3 {
	font-size:182%;
	margin:0 0 .5em 0;
	line-height:1;
}

.dsq-thread-settings {
	border-color:#000 !important;
}

.dsq-pagination, .dsq-request-user-info {
	background:url(../../img/borders/horizontal.png) repeat-x !important;
}

.dsq-pagination {
	background-position: top center !important;
}

.dsq-request-user-info {
	background-position: bottom center !important;
}

#dsq-comments-title, .dsq-like, .dsq-sharing-options,
.dsq-options, .dsq-media-link, .dsq-pagination {
	display:none !important
}

.dsq-login-buttons {
	background:none !important;
	margin-bottom: 0 !important;
	padding:.5em !important;
}

.dsq-dropdown-menu > li:first-child, .dsq-dropdown-menu > li:last-child{
	display:none !important;
}

.dsq-input-wrapper, .dsq-button, .dsq-textarea-wrapper {
	-moz-border-radius:0 !important;
	-webkit-border-radius:0 !important;
	border-radius:0 !important;
}

.dsq-button {
	font-weight: normal !important;
	background: #000 !important;
}

 .dsq-button, .dsq-button-small {
	font-family: Arial, Helvetica, sans-serif; /* .serif */
	padding:.1em  !important;
	text-transform:uppercase  !important;
	cursor:pointer  !important; /* for buttons */
	color:#000 !important; /* important for links */
	background: #ff7;
}

.borderimage .dsq-button, .borderimage .dsq-button-small {
	background:transparent  !important;
	-moz-border-image: url(../../img/arrows/right.png) 6 17 6 6  !important;
	-webkit-border-image: url(../../img/arrows/right.png) 6 17 6 6  !important;
	border-image: url(../../img/arrows/right.png) 6 17 6 6  !important;
	border-width: 6px 17px 6px 5px  !important;
}

/*
Number of comments
*/
.commentsCount {
	position:relative;
	top:3px;
	vertical-align:top;
	display:inline-block;
	height:1em;
	overflow:hidden;
	width:3em;
	padding:0.1em 0 0.1em 0.5em;
}

.commentsCount:before {
	content:url("../../img/blog/comments-2.png")" ";
}

.currentBullet {
	top:0;
}

#article_content p, #article_content li {
	font-size:108%; /* 14 px */
}

#article_content img {
	/*classicImgBorder*/
	border:1px solid #555;
	/*.classicShadow*/
	box-shadow:0 0 4px #555;
	-webkit-box-shadow:0 0 4px #555;
	-moz-box-shadow:0 0 4px #555;
	margin:.5em 0;
}

#article_content .floatRight img {
	margin-left:.5em;
}

#article_navigation {
	padding:.2em;
	width:140px;
	position:fixed;
	top:3px;
	left:3px;
	background:rgba(255,255,255,.6);
	-moz-border-radius:3px;
	-webkit-border-radius:3px;
	border-radius:3px;
}

.hide_nav {
	height:11px;
	overflow:hidden;
}