/* 
    Document   : homepage
    Created on : 14 avr. 2010, 11:00:01
    Author     : vincent
    Description:
       css of the homepage
*/
.borderimage #slider {
	margin-bottom:-4px;
	position:relative;
	z-index:10;
}

#imgAudit {
	position:relative;
	top:-8px;
}

#sliderMenu {
	position:absolute;
	bottom:2px;
	left:2px;
}

#sliderMenu a {
	display:inline-block;
	text-align: center;
	border:none;
	width:18px;
	height:18px;
	line-height:18px;
	background:#000;
	box-shadow:0 0 3px #000;
	margin:1px;
	-moz-box-shadow:0 0 3px #000;
	-webkit-box-shadow:0 0 3px #000;
}

.rgba.borderradius #sliderMenu a {
	-moz-border-radius:18px;
	-webkit-border-radius:18px;
	border-radius:18px;
	border-color:rgba(255, 228, 0, .6);
}

#sliderMenu a:hover {
	background:#ff0;
}

#sliderMenu a.selected {
	background:#d7c000;
}

.rgba.borderradius  #sliderMenu a:hover {
	background:rgba(255, 228, 0, .8);
}

.rgba.borderradius  #sliderMenu a.selected {
	background:rgba(255, 228, 0, 1);
}

.sliderLink {
	background-position: bottom left;
	background-repeat: no-repeat;
}

#slides .wrapper > div:nth-child(1) .sliderLink {
	background-image:url(../../img/homepage/stats-1.jpg);
}

#slides .wrapper > div:nth-child(2) .sliderLink {
	background-image:url(../../img/homepage/stats-2.jpg);
}

#slides .wrapper > div:nth-child(3) .sliderLink {
	background-image:url(../../img/homepage/stats-3.jpg);
}

#homepage ul li {
	margin-bottom: 4px;
}

/*.loader {
	background-image:url(../../img/ajax-loader.gif);
	background-repeat:no-repeat;
	background-position:center center;
}*/