/*
    Document   : homepage
    Created on : 14 avr. 2010, 11:00:01
    Author     : vincent
    Description:
       common css for all pages
*/

.sansRounded {font-family: 'FrankfurterComMedium', 'Comic Sans Ms';/* font-size-adjust:0.472*/letter-spacing:.03em}
.serif {font-family: 'LithoAntique', 'Times New Roman';}
.arial {font-family: Arial, Helvetica, sans-serif;}

html {background:#ffe400}

/*html {
	background: black url("gradient-bg.png") repeat-y left;
	-o-background-size: 100% 100%;
	-moz-background-size: 100% 100%;
	-webkit-background-size: 100% 100%;
	background: -moz-linear-gradient(
		left,
		#D1BB00,
		#ffe400 15%,
		#ffe400 85%,
		#D1BB00
	);
	background: -webkit-gradient(
		linear,
		left top, right top,
		from(#D1BB00),
		to(#D1BB00),
		color-stop(0.1, #ffe400),
		color-stop(0.9, #ffe400)
	);
}*/

body {overflow-y:scroll}

/**
Menu
*/
#menu a {
	display:block;
	float:left;
	text-align:center;
	width:119px; /* -1px border */
	line-height:34px;
	color:#ff0;
}

#menu .first {
	border-left:1px solid transparent;
}
/**
end menu
*/

/**
freetest bar, firefox sucks on submits, shared accross multiple pages
* Very very strange behavior with borderimage and buttons..
this is confirmed to be a firefox bug so do not try to get rid of it, firefox mac only
*/
.borderimage .classicButtonFix {
	height:35px;
	margin-top:-5px;
	width:80%;
	padding-bottom:1px;
}

/**
Headings
*/
/*h1, h2, h3, h4, h5, h6 {
	font-weight: normal;
}*/

h1, h2, h3 {
	font-family: 'FrankfurterComMedium';
	font-weight:normal;
	text-transform: uppercase;
}

h1, h2, h3 {
	font-size:100%;
}

#twitter {
	background:url(../../img/twitter.png) no-repeat;
	height:37px;
}

#twitterLink {
	left:54px;
	top:9px;
	opacity:.2;
}

#gotoTop:before {
	content:url(../../img/top.png)" ";
}

/**
Content Links
*/
a {text-decoration: none}
a:link {color: #000;}
a:visited {color: #000;}
a:hover {color: #e8d600}
/*a:active {text-shadow: 0 2px 0 #fef28f}*/

.textContent a:link {color:#d7c000;border-bottom:1px dotted #d7c000}
.textContent a:visited {color:#aaa;border-bottom:1px dotted #aaa;}
.textContent a:hover {border:none}

.textContent h1, .textContent h2, .textContent h3 {
	margin:.5em 0;
}

.textContent h1 {
	font-size: 153.9%;
	text-indent:.5em;
}

.textContent h2 {
	font-size: 138.5%;
	text-indent: 1em;
}

.textContent h3 {
	font-size: 123.1%;
	text-indent: 2em;
}

.textContent p, .textContent ul, .textContent ol {
	font-size: 108%;
}

.textContent p {
	margin-bottom:.5em;
}

/**
prestations
*/
.borderimage .fauxColumn2ColFirst240.fauxColumn {
	background-position:235px 0;
}

.borderimage .fauxColumn2ColFirst180.fauxColumn {
	background-position:175px 0;
}

.borderimage .fauxColumn2ColFirst780.fauxColumn {
	background-position:775px 0;
}

.borderimage .noPlainBorderLeftIfBorderImage.plainBorderLeft {
	border:0;
}

#maface {
	display:block;
	position:absolute;
	right:0;
	top:0;
}

ul ul li {
	list-style:circle;
}

/* modernizr */
#fonttest {
	display:none !important;
}