[submodule "tools/html-minifier"]
	path = tools/html-minifier
	url = git@github.com:vvo/html-minifier.git
[submodule "www/CSS-JS-Booster-old"]
	path = www/CSS-JS-Booster-old
	url = https://github.com/Schepp/CSS-JS-Booster.git
[submodule "www/CSS-JS-Booster"]
	path = www/CSS-JS-Booster
	url = git@github.com:vvo/CSS-JS-Booster.git
