/**
Bad sizes when uppercase all : 17, 14
*/
@font-face {
	font-family: "LithoAntique";
	src: url("../webfonts/lithoantique-medium-webfont.eot");
	src: local("®®"), url("../webfonts/lithoantique-medium-webfont.woff") format("woff"), url("../webfonts/lithoantique-medium-webfont.ttf") format("truetype"), url("../webfonts/lithoantique-medium-webfont.svg#webfontWQL5myTc") format("svg");
	font-weight: normal;
	font-style: normal;
}

/**
Bad sizes when uppercase all : 17, 16, 14
*/
@font-face {
	font-family: "FrankfurterComMedium";
	src: url("../webfonts/frankfurtercom-medium-webfont.eot");
	src: local("®®"), url("../webfonts/frankfurtercom-medium-webfont.woff") format("woff"), url("../webfonts/frankfurtercom-medium-webfont.ttf") format("truetype"), url("../webfonts/frankfurtercom-medium-webfont.svg#webfontt1bQxopQ") format("svg");
	font-weight: normal;
	font-style: normal;
}