{extends 'zblog/base.html'}

{block header_scripts}

{include 'zblog/webfonts.html'}
{/block}

{block beforeContent}{include 'zblog/inc/freetest.html'}{/block}

{block body}
<div class="relative fauxColumn fauxColumn2ColFirst240">
	<div class="clearfix">
		<div class="w240 floatLeft">
			<h1 class="classicBorderBottom font19 marg0tb marg18pxr lineHeight1">références
				<span class="gray"><br/>témoignages clients</span></h1>
		</div>
		<div class="w480 floatLeft">
			<div class="marg8pxb pad18pxlr classicBorderRight">
				<div class="textContent">
					<blockquote class="marg18pxt">
						<p>Vincent est un expert en développement web en général, en javascript et optimisation des performances en particulier.</p>
						<p>Il comprend les architectures de sites à fort trafic. Il maîtrise les outils permettant de mesurer les temps d'affichage des pages ainsi que les techniques d'optimisation de ces temps :</p>
						<ul>
							<li>côté serveur : configuration des serveurs, techniques et outils de caching...</li>
							<li>côté client : structuration du code pour permettre un affichage optimal en prenant en compte les spécificités de chaque navigateur</li>
						</ul>
						<p>Il est de plus doté de réelles qualités relationnelles, ce qui ne gâche rien.</p>
					</blockquote>
					<p class="right font11">Guillaume Pungeot, <em>manager</em>, <a href="http://mappy.com" title="Plans et itinéraires">Mappy</a></p>
					<blockquote class="marg18pxt">
						<p>Qualités de Vincent :</p>
						<ul>
							<li>force de proposition</li>
							<li>méticuleux</li>
							<li>remise en question / auto-critique</li>
							<li>compétences très haut niveau xhtml / css / js</li>
						</ul>
					</blockquote>
					<p class="right font11">Jean-Philippe Tessier, <em>gérant</em>, <a href="http://beemoov.com" title="Startup de jeux en ligne">Beemoov</a></p>
					<blockquote class="marg18pxt"><p>Pour avoir déjà travaillé avec Vincent, et sous traité un audit de performances web, je recommande.</p></blockquote>
					<p class="right font11">Olivier Bonvalet, <em>gérant</em>, <a href="http://fr.linkedin.com/in/daevel" title="Infogérance">Daevel</a></p>
				</div>

			</div>
		</div>
		<div class="floatLeft w240">
			<div class="pad18pxl">
				<div class="textContent shadowLinks">
							{$text|safe}
				</div>

				<a href="{url 'contact'}" title="Lien vers la page de contact" class="marg18pxt inlineBlock classicButton font11">Contactez-moi</a>

			</div>
		</div>
	</div>

</div>

<div class="marg18pxt classicBorderTop pad18pxt clearfix">
	<div class="w240 floatLeft sansRounded caps">
		<span class="classicTextShadow font20">liens</span>
	</div>
	<div class="w720 floatLeft">
		<div class="classicBorderLeft pad18pxl textContent">
			<p>Consultez notre profil société sur <a href="http://www.webworkerclub.com/societes/295,zeroload.html" title="profil société sur web worker club">webworkerclub</a>.
				<br/>Notre site Zeroload est listé dans la catégorie <a href="http://www.webrankinfo.com/annuaire/cat-4-internet.htm">
					Internet</a> :
				<a href="http://www.webrankinfo.com/annuaire/cat-154-conseil-internet.htm">
					Conseil Internet</a> de l'annuaire <a href="http://www.webrankinfo.com/"><img src="http://www.webrankinfo.com/images/wri/webrankinfo-80-15.png" title="WebRankInfo" width="80" height="15" alt="Guide du référencement" /></a>.</p>
		</div>
	</div>
</div>

{/block}



{block footer}
{include 'zblog/inc/footer-normal.html'}
{/block}