{* will store debug value for project in $debug *}
{cfg 'debug', false, false}
{cfg 'is_beta', false, false}
{cfg 'booster', false, false}
<!DOCTYPE html>
<html lang="fr" class="bgLightGray no-js">
	<head>
		<title>Zeroload : {$page_title}</title>
		<meta charset="utf-8">
		<link rel="icon" href="/favicon.ico" type="image/x-icon" />

		{if $cfg_is_beta === true}
			<meta name="ROBOTS" content="NOINDEX,NOFOLLOW">
		{/if}

		{cssbooster "static/css/yui,static/css/library,static/css/template"}

		{block header_scripts}{/block}

		{if $cfg_debug !== true && $cfg_is_beta !== true}
		<script>
			{literal}
			var _gaq = _gaq || [];
			_gaq.push(['_setAccount', 'UA-12667483-1']);
			_gaq.push(['_trackPageview']);

			(function() {
				var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
				ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
				var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
			})();
			{/literal}
		</script>
		{/if}

		{include 'zblog/inc/modernizr.html'}
	</head>
	<body id="top">
		<div id="container">

			<header id="header" class="block bgBlack">
				<div class="relative centerBlock w960 h100">

					<a id="logo" class="absolute posLeft block" href="{url 'Zblog_Views::main'}" title="Accueil du site">
						<img src="{mediaurl '/img/logo_v2.png'}" alt="Haute performance web avec Zeroload" width="60" height="55" />
						<!-- Standard (inline) mode cause images to have odd bottom margin see http://www.quirksmode.org/css/quirksmode.html -->
					</a>

					<nav id="menu" class="letterSpace0p08em block absolute posBottom posRight sansRounded font12 caps">
						<a href="{url 'homepage'}" title="Accueil du site" class="first relative">accueil</a>
						<a href="{url 'services'}" class="classicBorderLeftYellow" title="Audit de la performance web">services</a>
						<a href="{url 'references'}" class="classicBorderLeftYellow" title="témoignages clients">références</a>
						<a href="{url 'blog_homepage'}" class="classicBorderLeftYellow" title="Blog performance web">blog</a>
						<a href="{url 'contact'}" class="classicBorderLeftYellow" title="Contactez-moi par mail ou téléphone">contact</a>
					</nav>

				</div>
			</header>

			<div class="centerBlock w960 pad4pxt pad18pxb">

				{block beforeContent}{/block}

				<div id="content" class="pad8pxt">
					{block body}{/block}
				</div>

				<footer id="footer" class="clearLeft classicBorderTop marg18pxt block pad8pxt">
					{block footer}{/block}
				</footer>
			</div>
		</div>

		<div class="clearLeft"></div>

		{include 'zblog/inc/controljs.html'}

		{*<script>
			{literal}
			(function(){
				var cjsscript = document.createElement('script');
				cjsscript.defer = true;
				cjsscript.src = "/static/js/control.js";
				var cjssib = document.getElementsByTagName('script')[0];
				cjssib.parentNode.insertBefore(cjsscript, cjssib);
			})();
			{/literal}
		</script>*}

		{block footer_scripts}{/block}
	</body>
</html>