{* will store debug value for project in $debug *}
{cfg 'debug', false, false}
{cfg 'is_beta', false, false}
{cfg 'booster', false, false}
<!DOCTYPE html>
<html lang="fr" class="bgLightGray no-js base2">
	<head>
		<title>Zeroload : {$page_title}</title>
		<meta charset="utf-8">
		<link rel="icon" href="/favicon.ico" type="image/x-icon" />

		{if $cfg_debug !== true && $cfg_beta !== true}
		<script type="text/javascript">document.write(unescape("%3Cscript src='" + (("https:" == document.location.protocol) ? "https" : "http") + "://a.mouseflow.com/projects/02009929-136b-45ca-995b-9dff1bdd662b.js' type='text/javascript'%3E%3C/script%3E"));</script>
		{/if}

		{cssbooster "static/css/yui,static/css/library,static/css/template"}

		{block header_scripts}{/block}

		{if $cfg_debug !== true && $cfg_beta !== true}
		<script>
			{literal}
			var _gaq = _gaq || [];
			_gaq.push(['_setAccount', 'UA-12667483-1']);
			_gaq.push(['_trackPageview']);

			(function() {
				var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
				ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
				var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
			})();
			{/literal}
		</script>
		{/if}

		{include 'zblog/inc/modernizr.html'}
	</head>
	<body id="top">
		<div id="container">

			<header id="header" class="block bgBlack">
				<div class="relative centerBlock w960 h100">

					<a id="logo" class="absolute posLeft block" href="{url 'Zblog_Views::main'}" title="Consultant performance web">
						<h1>Performance web</h1>
						<!-- Standard (inline) mode cause images to have odd bottom margin see http://www.quirksmode.org/css/quirksmode.html -->
					</a>

					<nav id="menu" class="letterSpace0p08em block absolute posBottom posRight sansRounded font12 caps">
						<a href="{url 'homepage'}" title="Accueil du site" class="first relative">accueil</a>
						<a href="{url 'services'}" class="classicBorderLeftYellow" title="Audit de la performance web">services</a>
						<a href="{url 'about'}" class="classicBorderLeftYellow" title="témoignages clients">références</a>
						<a href="{url 'blog_homepage'}" class="classicBorderLeftYellow" title="Blog performance web">blog</a>
						<a href="{url 'contact'}" class="classicBorderLeftYellow" title="Contactez-moi par mail ou téléphone">contact</a>
					</nav>

				</div>
			</header>

			<div class="centerBlock w960 pad4pxt pad18pxb">

				{block beforeContent}{/block}

				<div id="content" class="pad8pxt">
					{block body}{/block}
				</div>

				<footer id="footer" class="clearLeft classicBorderTop marg18pxt block pad8pxt">
					{block footer}{/block}
				</footer>
			</div>
		</div>

		<div class="clearLeft"></div>

		<script>
			{literal}
			(function(){
				var cjsscript = document.createElement('script');
				cjsscript.defer = true;
				cjsscript.src = "/static/js/control.js";
				var cjssib = document.getElementsByTagName('script')[0];
				cjssib.parentNode.insertBefore(cjsscript, cjssib);
			})();
			{/literal}
		</script>

		{block footer_scripts}{/block}
	</body>
</html>

<!-- Where websites goes N20 (lien fast & furious) -->
<!-- give some boost to your pages -->
<!-- free your servers from heavy load, save the planet -->
<!-- performance : the green effect ! -->
<!-- optimisation du temps de chargement -->