{extends 'zblog/base.html'}

{block header_scripts}
{include 'zblog/webfonts.html'}
{/block}

{block beforeContent}{include 'zblog/inc/freetest.html'}{/block}

{block body}
<div class="relative fauxColumn fauxColumn2ColFirst240">
	<div class="clearfix">
		<div class="w240 floatLeft">
			<div class="font20 lineHeight1 sansRounded caps">contact</div>
		</div>
		<div class="w480 floatLeft">
			<div class="noPlainBorderLeftIfBorderImage plainBorderLeft">
				<div class="marg8pxb pad18pxlr">
					<p class="serif">Merci, nous vous recontacterons rapidement.</p>
				</div>
			</div>
		</div>
		{include 'zblog/inc/contact-right.html'}
	</div>

</div>

{include 'zblog/inc/contact-coordonnees.html'}


{/block}

{block footer}
{include 'zblog/inc/footer-normal.html'}
{/block}