{extends 'zblog/base.html'}

{block header_scripts}
{include 'zblog/webfonts.html'}
{/block}

{block beforeContent}{include 'zblog/inc/freetest.html'}{/block}

{block body}
<div class="relative fauxColumn fauxColumn2ColFirst240">
	<div class="clearfix">
		<div class="w240 floatLeft">
			<div class="font20 lineHeight1 sansRounded caps">contact</div>
		</div>
		<div class="w480 floatLeft">
			<div class="noPlainBorderLeftIfBorderImage plainBorderLeft">
				<div class="marg8pxb pad18pxlr">
					<p class="serif">Merci, nous vous recontacterons rapidement.</p>
				</div>
			</div>
		</div>
		<div class="floatLeft w240">
			<div class="classicBorderLeft pad18pxl">
				<p>Vous souhaitez établir un devis ?</p>
				<p>Ou bien juste obtenir quelques informations sur nos tarifs.</p>
				<p>Contactez-nous sans hésiter.</p>
				<p class="classicBordeTop bold">
					email : info@zeroload.net
					<br/>
					skype : vvoyer
					<br/>
					mobile : 06/13/92/69/96
				</p>
			</div>
		</div>
	</div>

</div>

<div class="marg18pxt classicBorderTop pad18pxt clearfix">
	<div class="w240 floatLeft sansRounded caps">
		<span class="font26">coordonnées</span>
	</div>
	<div class="w720 floatLeft">
		<div class="classicBorderLeft pad18pxl textContent">
				<p>
					<strong>Zeroload</strong>
					<br/>Vincent Voyer
					<br/>20 avenue Léon Gambetta
					<br/>92120 Montrouge
					<br/>France
				</p>
		</div>
	</div>
</div>

{/block}

{block footer}
{include 'zblog/inc/footer-normal.html'}
{/block}