{extends 'zblog/base.html'}

{block header_scripts}
<meta name="description" content="Maîtrisez la performance web. Votre site tourne au ralenti ? Optimisez le temps de chargement de vos pages avec nos solutions." />
{/block}

{block beforeContent}{include 'zblog/inc/freetest.html'}{/block}

{block body}
<div id="homepage">
	<div id="slider" class="sansRounded relative h185">
		<div id="slides" class="lineHeight1">

			<div class="loader h185 absolute posTop posLeft bgDarkGray w630 z5"></div>

			<div class="wrapper">
				<div id="slide1" class="h185 absolute posTop posLeft w960">
					<img src="{mediaurl '/img/homepage/slide-mappy.jpg'}" width="630" height="185"
						 alt="Photo de l'intérieur d'un tunnel" />
					<div class="w330 absolute posTop posRight">
						<div class="sliderLink h185 pad8pxl caps">
							<div class="font16 pad4pxt classicTextShadow">affichage progressif et start render</div>
							<div class="font24 classicTextShadow">méthodes d'accélération</div>
							<a href="{url 'blog_post', rawurlencode(strtolower('Mappy.com : un start render divisé par deux'))}"
							   title="Comment j'ai optimisé le temps de chargement des pages sur Mappy.com"
							   class="font12 inlineBlock classicButton serif floatRight">cliquez pour lire l'article</a>
						</div>
					</div>
					<a href="http://www.flickr.com/photos/themonnie/2495892146"
					   class="block absolute posLeft serif font10 gray" target="_blank">
					photo : http://www.flickr.com/photos/themonnie/2495892146
					</a>
				</div>

				<div id="slide2" class="h185 hide absolute posTop posLeft w960">
					<img src="{mediaurl '/img/homepage/slide-pourquoi-optimiser.jpg'}" width="630" height="185"
						 alt="Photo à l'intérieur d'une voiture" />
					<div class="w330 absolute posTop posRight">
						<div class="sliderLink h185 pad8pxl caps">
							<div class="font28 pad4pxt classicTextShadow">pourquoi optimiser ?</div>
							<div class="font25 classicTextShadow">le temps de chargement</div>
							<a href="{url 'blog_post', rawurlencode(strtolower('pourquoi optimiser le temps de chargement de vos pages'))}"
							   class="font12 inlineBlock classicButton serif floatRight" title="Optimiser le temps de chargement, quelle utilité ?">cliquez pour lire l'article</a>
						</div>
					</div>
					<a href="http://www.flickr.com/photos/viernest/3380560365"
					   class="block absolute posLeft serif font10 gray" target="_blank">
					photo : http://www.flickr.com/photos/viernest/3380560365
					</a>
				</div>

				<div id="slide3" class="h185 hide absolute posTop posLeft w960">
					<img src="{mediaurl '/img/homepage/slide-prestations.jpg'}" width="630" height="185"
						 alt="Photo d'avions cascadeurs" />
					<div class="w330 absolute posTop posRight">
						<div class="sliderLink h185 pad8pxl caps">
							<div class="font22 pad4pxt classicTextShadow">accélérer votre site web :</div>
							<div class="font39 classicTextShadow">nos solutions</div>
							<a href="{url 'services'}"
							   title="Optimisez le temps de chargement de votre site web, maintenant !"
							   class="font12 inlineBlock classicButton serif floatRight">cliquez pour plus d'informations</a>
						</div>
					</div>
					<a href="http://www.flickr.com/photos/damo1977/3684814319"
					   class="block absolute posLeft serif font10 gray" target="_blank">
					photo : http://www.flickr.com/photos/damo1977/3684814319
					</a>
				</div>

			</div>
		</div>

		<div id="sliderMenu" class="absolute font12">
			<a href="#slide1">1</a>
			<a href="#slide2" class="yellow">2</a>
			<a href="#slide3" class="yellow">3</a>
		</div>
	</div>

	<div class="pad18pxt classicBorderTop clearfix">
		<div class="w300 floatLeft">
			<div class="pad18pxr">
				<h1 class="font18 marg0 pad4pxb">Votre site est lent ?</h1>
				<ul class="arrowList marg0 marg1eml lineHeight16px textContent">
					<li>Votre page d'accueil <strong>rame</strong>.</li>
					<li>Certaines zones de votre site mettent entre 5 & 10 secondes (ou plus) à charger.</li>
					<li>Vos clients <strong>se plaignent</strong> de l'instabilité de votre site.</li>
					<li>Les éléments (scripts, feuilles de styles, images ...) sont trop nombreux et trop lourds.</li>
					<li>Plusieurs régions du site restent souvent ignorées par les visiteurs.</li>
				</ul>
			</div>
		</div>
		<div class="w300 floatLeft">
			<div class="classicBorderLeft pad18pxl">
				<h1 class="marg0 font18 pad4pxb">Nous l'optimisons! ...</h1>
				<ul class="arrowList marg0 marg1eml lineHeight16px textContent">
					<li>Nous pouvons <strong>optimiser le temps de chargement</strong> de vos pages...</li>
					<li>...tout en réduisant la charge de vos serveurs et la bande passante utilisée.</li>
					<li class="shadowLinks">Découvrez <a href="{url 'services'}" title="Nos services pour optimiser le temps de chargement">nos services</a> :</li>
					<li>Nous vous <strong>conseillons</strong> dans l'optimisation de votre site et <strong>installons</strong> les
				solutions adéquates.</li>
					<li>Gzip, cache, bande passante, minification, agrégation, optimisation d'images,...</li>
				</ul>
			</div>
		</div>
		<div class="w360 floatLeft">
			<div class="classicBorderLeft pad18pxl">
				<h1 class="marg0 font18 pad4pxb">...afin d'augmenter vos revenus</h1>
				<ul class="arrowList marg0 marg1eml lineHeight16px textContent">
					<li>La rapidité de votre site web impactera le nombre de ventes (ou de transformations) que vous réaliserez.</li>
					<li>Exemple : la page d'accueil de firefox : <strong>2s en moins = 60 millions de téléchargements en +</strong> <a href="http://blog.mozilla.com/metrics/2010/04/05/firefox-page-load-speed-%E2%80%93-part-ii/" title="Lien vers le billet officiel de Mozilla">chaque année</a>.</li>
					<li>Le temps de chargement influe aussi désormais légèrement sur <a href="http://googlewebmastercentral.blogspot.com/2010/04/using-site-speed-in-web-search-ranking.html" title="Lien vers l'article officiel de google">votre positionnement dans Google</a>.</li>
					<li class="shadowLinks"><a href="{url 'contact'}">Contactez-nous</a> pour plus d'informations !</li>
				</ul>
			</div>
		</div>
	</div>
	{/block}

	{block footer}
	<div>
		<a class="block"
		   href="{url 'blog_post', rawurlencode(strtolower('Mappy.com : un start render divisé par deux'))}"
		   title="Découvrez comment nous avons optimisé la performance web de Mappy">
			<div class="floatLeft w240" id="imgAudit">
				<img src="{mediaurl '/img/homepage/audit-mappy_v2.png'}" />
			</div>
			<div class="floatLeft w360">
				<div class="pad18pxl">

					<div class="font15 sansRounded caps block lineHeight1">étude de cas : Mappy.com</div>
					<div class="font13">Résumé de nos optimisations</div>

				</div>
			</div>
		</a>
	</div>
	<div class="font11 caps sansRounded">
	{include 'zblog/inc/footer-right.html'}
	</div>

	<div class="clearLeft textContent"><a href="http://www.freelance-info.fr/" target="_blank">Emploi Freelance</a></div>
</div>
{/block}

{block footer_scripts}
{include 'zblog/webfonts.html'}
{/block}