{extends 'zblog/base.html'}

{block header_scripts}
<meta name="description" content="Audit et conseil en performance web. Refonte de vos applications html/css/javascript. Accélération de l'affichage des pages web." />
{/block}

{block beforeContent}{include 'zblog/inc/freetest.html'}{/block}

{block body}
<div id="homepage" class="relative">
	<div id="mainContent" class="classicBorderTop pad18pxt">
		<div class="w300 floatLeft">
			<div class="pad18pxr">
				<h1 class="font20 marg0 pad8pxb">La performance web</h1>
				<p class="font14">Zeroload est l'entreprise de conseil de <em>Vincent Voyer</em>, consultant web <strong>spécialisé en performance web et optimisation front-end</strong>.</p>

				<p class="font14">Vous souhaitez optimiser votre site web et améliorer ses performances ? Spécialiste des langages du web, je peux vous conseiller et vous guider dans vos développements.</p>
			</div>
		</div>
		<div class="w300 floatLeft">
			<div class="classicBorderLeft pad18pxl pad8pxr">
				<h2 class="marg0 font20 pad8pxb">audit et développement</h2>

				<p class="font14">Le but d'un <strong>audit de la performance web</strong> est de vous donner les éléments clés pour optimiser votre site.</p>

				<p class="font14">Mon expérience des sites web à fort trafic me permet de vous proposer des solutions efficaces pour <strong>optimiser vos fichiers html, css & javascript</strong>.</p>
			</div>
		</div>
		<div class="w360 floatLeft">
			<div class="classicBorderLeft pad18pxl relative" id ="minireferences">
				<h2 class="marg0 font20 pad8pxb">Paroles de clients</h2>

				<nav title="navigation des mini citations clients" class="block clearfix marg12pxb">
					<div href="#lequipefrB" id="lequipefr" class="minilogoRef active" title="Audit performance web de lequipe.fr"></div>
					<div href="#mappycomB" id="mappycom" class="minilogoRef" title="Développement optimisations front-end pour mappy.com"></div>
					<div href="#beemoovcomB" id="beemoovcom" class="minilogoRef" title="Développement solution optimisation d'images pour ma-bimbo.com"></div>
					<div href="#footmercatonetB" id="footmercatonet" class="minilogoRef" title="Audit performance web et développement optimisation front-end pour footmercato.net"></div>
				</nav>

				<section>
					<blockquote cite="{url 'references'}#ref-lequipefr" class="textContent" id="lequipefrB">
						<p>Vincent Voyer a réalisé une <strong>étude d'optimisation web</strong> sur lequipe.fr très sérieuse, détaillée et approfondie.</p>
						<p>Grande connaissance de son sujet et <strong>rapport remis le jour dit</strong>.
						<a href="{url 'references'}#ref-lequipefr" class="marg4pxl" title="suite de la référence">[...]</a></p>
						<p class="auteurCite font10 italic">François Boury, CTO,
							<a href="http://www.lequipe.fr" title="Site web de lequipe.fr">Lequipe.fr</a></p>
						<div class="minirefArrow"></div>
					</blockquote>

					<blockquote cite="{url 'references'}#ref-mappycom" class="hide textContent" id="mappycomB">
						<p>Vincent est un <strong>expert en développement web en général</strong>, en javascript et optimisation des performances en particulier.</p>
						<p>Il maîtrise les outils permettant de mesurer les temps d'affichage des pages ainsi que
							les <strong>techniques d'optimisation de ces temps</strong>.
						<a class="marg4pxl" href="{url 'references'}#ref-mappycom" title="suite de la référence">[...]</a></p>
						<p class="auteurCite font10 italic">Guillaume Pungeot, manager,
							<a href="http://www.mappy.com" title="Site web optimisé de mappy">Mappy</a></p>
						<div class="minirefArrow"></div>
					</blockquote>

					<blockquote cite="{url 'references'}#ref-beemoovcom" class="hide textContent" id="beemoovcomB">
						<p>Vincent a développé pour l'un de nos jeux, un système automatisé d'<strong>optimisation d'images</strong>.</p>
						<p>Depuis, le poids des pages a baissé d'environ 40% en moyenne. C'est un excellent résultat <b>auquel on ne s'attendait pas</b>.
						<a class="marg4pxl" href="{url 'references'}#ref-beemoovcom" title="suite de la référence">[...]</a></p>
						<p class="auteurCite font10 italic">Benoit Guihard, gérant,
							<a href="http://www.ma-bimbo.com" title="Bande passante divisée par 2 sur ma-bimbo.com">Ma-bimbo</a></p>
						<div class="minirefArrow"></div>
					</blockquote>

					<blockquote cite="{url 'references'}#ref-footmercatonet" class="hide textContent" id="footmercatonetB">
						<p>Vincent nous a proposé des optimisations et s'est chargé de <b>les réaliser</b>.</p>
						<p>Force est de constater que l'affichage des pages du site <b>n'a jamais été aussi rapide</b>.
						<a class="marg4pxl" href="{url 'references'}#ref-footmercatonet" title="suite de la référence">[...]</a></p>
						<p class="auteurCite font10 italic">Pierre-Marie Papineschi, responsable projet,
							<a href="http://www.footmercato.net" title="Site web de Footmercato optimisé par Zeroload">Footmercato</a></p>
						<div class="minirefArrow"></div>
					</blockquote>
				</section>
			</div>
		</div>
	</div>


	{/block}

	{block footer}
	<div>
		<a class="block w600"
		   href="{url 'blog_post', array(urlize('Mappy.com : un start render divisé par deux'), 6)}"
		   title="Découvrez comment j'ai optimisé la performance web de Mappy">
			<span class="block floatLeft w240" id="imgAudit">
				<img src="{mediaurl '/img/homepage/audit-mappy_v2.png'}" />
			</span>
			<span class="block floatLeft w360">
				<span class="block pad18pxl">

					<span class="font15 sansRounded caps block lineHeight1">étude de cas : Mappy.com</span>
					<span class="font13">diminution du start render</span>

				</span>
			</span>
		</a>
	</div>
	<div class="font12 caps sansRounded">
	{include 'zblog/inc/footer-right.html'}
	</div>
</div>
{/block}

{block footer_scripts}
<script type="text/cjs" data-cjssrc="http://ajax.googleapis.com/ajax/libs/jquery/1.4.4/jquery.min.js"></script>
{jsbooster "static/js/slider.js,static/js/miniref.js", array("cjs" => TRUE, "defer" => TRUE)}
{include 'zblog/webfonts.html'}
{/block}