{extends 'zblog/base.html'}

{block beforeContent}{include 'zblog/inc/freetest.html'}{/block}

{block body}
<div class="sansRounded caps">
	<div class="clearfix">
		<div class="w240 floatLeft">
			<span class="font26">prestations</span>
			Choisissez votre profil
		</div>
		<div class="w360 floatLeft">
			<div class="classicBorderLeft pad18pxlr font12 lineHeight1">
				<img src="{mediaurl '/img/prestations/accueil-webo.jpg'}" class="classicImgBorder" />
				<h1 class="marg8pxt marg4pxb">Optimisation standard</h1>
				<h2 class="marg0 orange">la performance de votre site web</h2>
			</div>
		</div>
		<div class="w360 floatLeft">
			<div class="classicBorderLeft pad18pxlr font12 lineHeight1">
				<img src="{mediaurl '/img/prestations/accueil-expertise.jpg'}" class="classicImgBorder" />
				<h1 class="marg8pxt marg4pxb">besoin d'une expertise approfondie, nous sommes là</h1>
				<h2 class="marg0 orange"></h2>
			</div>
		</div>
	</div>
	<div class="marg18pxt classicBorderTop pad18pxt clearfix">
		<div class="w240 floatLeft">
			<span class="font26">cas d'étude</span>
		</div>
		<div class="w720 floatLeft">
			<div class="classicBorderLeft pad18pxlr">
				<ul class="resetList font13">
					<li>mappy.com <span class="orange">optimiser un portail grand public</span></li>
					<li>footmercato.net <span class="orange">audit complet d'un site web 100% foot</span></li>
					<li>ma-bimbo.com <span class="orange">réduction de 30% de la bande passante</span></li>
				</ul>
			</div>
		</div>
	</div>
</div>

{/block}

{block footer}
{include 'zblog/inc/footer-normal.html'}
{/block}