		{literal}
<style type="text/css">
	/**
		Bad sizes when uppercase all : 17, 14
		*/
	@font-face {
		font-family: "LithoAntique";
		src: url("/static/webfonts/lithoantique-medium-webfont.eot");
		src: local("®®"), url("/static/webfonts/lithoantique-medium-webfont.woff") format("woff"), url("/static/webfonts/lithoantique-medium-webfont.ttf") format("truetype"), url("/static/webfonts/lithoantique-medium-webfont.svg#webfontWQL5myTc") format("svg");
		font-weight: normal;
		font-style: normal;
		font-variant: normal;
	}

	/**
		Bad sizes when uppercase all : 17, 16, 14
		*/
	@font-face {
		font-family: "FrankfurterComMedium";
		src: url("/static/webfonts/frankfurtercom-medium-webfont.eot");
		src: local("®®"), url("/static/webfonts/frankfurtercom-medium-webfont.woff") format("woff"), url("/static/webfonts/frankfurtercom-medium-webfont.ttf") format("truetype"), url("/static/webfonts/frankfurtercom-medium-webfont.svg#webfontt1bQxopQ") format("svg");
		font-weight: normal;
		font-style: normal;
		font-variant: normal;
	}
</style>
	{/literal}