<div class="floatLeft w240">
	<div class="classicBorderLeft pad18pxl textContent font14">
		<dl class="marg0">
			<dt class="bold marg8pxt">Votre contact</dt>
			<dd>Vincent Voyer <br/><a class="linkedin-profileinsider-popup" title="Profil linkedin" href="http://www.linkedin.com/in/vvoyer">LinkedIn</a>,
				<br/><a href="http://www.viadeo.com/fr/profile/vincent.voyer1" title="Profil viadeo">Viadeo</a>,
				<br/>CV <a href="{mediaurl '/pdf/cv.vv.pdf'}" title="Développeur web freelance">français</a> ou <a href="{mediaurl '/pdf/cv.vv.en.pdf'}" title="Freelance front-end web developer">anglais</a></dd>
			<dt class="bold marg8pxt">Email</dt>
			<dd><a href="mailto:info@zeroload.net" title="Contactez-moi directement par mail">info@zeroload.net</a></dd>
			<dt class="bold marg8pxt">Téléphone</dt>
			<dd>(+33)6/13/92/69/96 <a href="skype://v.voyer">Skype</a></dd>
			<dt class="bold marg8pxt">Twitter</dt>
			<dd><a href="http://twitter.com/zeroload" title="Suivez-moi sur Twitter pour obtenir les dernières news sur la performance web">@zeroload</a></dd>
			<dt class="bold marg8pxt">Adresse</dt>
			<dd>
				<address>
					24, rue Béranger <br/>75003 <br/>Paris <br/>France
				</address>
			</dd>
		</dl>
	</div>
</div>