<div class="font11 caps sansRounded">
	<div class="floatLeft w360">
		<a href="#top" id="gotoTop">haut de page</a>
	</div>
	<div class="floatLeft w120">
		<div class="classicBorderLeft pad8pxl">
			<a href="{url 'homepage'}" title="Accueil du site">accueil</a><br/>
			<a href="{url 'services'}" title="Découvrez nos services d'optimisation du temps de chargement de vos pages">prestations</a>
		</div>
	</div>
	<div class="floatLeft w120">
		<div class="classicBorderLeft pad8pxl">
			<a href="{url 'blog_homepage'}" title="Lisez notre blog performance & développement web">blog</a><br/>
			<a href="{url 'about'}" title="Qui est aux commandes de Zeroload ?">à propos</a><br/>
			<a href="{url 'contact'}" title="Contactez-nous pour obtenir un devis gratuit !">contact</a>
		</div>
	</div>
	{include 'zblog/inc/footer-right.html'}
</div>