<div class="font12 caps sansRounded">
	<div class="floatLeft w360">
		<a href="#top" id="gotoTop">haut de page</a>
	</div>
	<div class="floatLeft w120">
		<div class="classicBorderLeft pad8pxl">
			<a href="{url 'homepage'}" title="Accueil du site">accueil</a><br/>
			<a href="{url 'services'}" title="Découvrez mes offres d'optimisation du temps de chargement de vos pages">services</a>
		</div>
	</div>
	<div class="floatLeft w120">
		<div class="classicBorderLeft pad8pxl">
			<a href="{url 'blog_homepage'}" title="Lisez mon blog performance web et développement front-end">blog</a><br/>
			<a href="{url 'references'}" title="Mes clients en performance web">références</a><br/>
			<a href="{url 'contact'}" title="Contactez-moi pour un devis gratuit">contact</a>
		</div>
	</div>
	{include 'zblog/inc/footer-right.html'}
</div>