<div class="w180 floatLeft">
	<div class="classicBorderLeft pad8pxl textContent lineHeight1p4">
		<a href="http://www.webpagetest.org/about" title="Webpagetest est un outil de mesure de la performance web. J'héberge la machine webpagetest IE7 paris.">webpagetest paris IE7</a>
		<br/><a href="http://webperf-contest.com/index-fr.html" title="J'ai initié le premier concours internationnal de performances web">concours performance web</a>
	</div>
</div>

<div class="w180 floatLeft">
	<div class="classicBorderLeft pad8pxl textContent lineHeight1p4">
		copyright zeroload 2010
		<br/><a href="mailto:info@zeroload.net">info@zeroload.net</a>
		<br/>DESIGNED BY <a href="http://www.ericletutour.fr/" title="graphiste, designer print et web">ÉRIC LE TUTOUR</a>
	</div>
</div>
