<!--
<form id="freetest" class="relative clearfix classicBorderTop marg8pxt pad8pxt lineHeight21px" action="404">
	<div class="font14 pad2pxtb floatLeft w540">Votre site web est-il déjà lent ? Testez-le gratuitement en un clic</div>
	<div class="floatLeft w300">
		<input class="serif classicShadow classicInput w240" type="text" name="website" value="http://exemple.com" />
	</div>
	<div class="floatLeft w120 right"><button type="submit" class="serif classicButton classicButtonFix font13">tester</button></div>
</form>
	-->