<div id="slider" class="sansRounded relative h185 hide">
	<div id="slides" class="lineHeight1">

		<div class="wrapper">
			<div id="slide1" class="h185 absolute posTop posLeft w960 right">
				<img src="{mediaurl '/img/homepage/slide-mappy.jpg'}" width="630" height="185"
					 alt="Photo de l'intérieur d'un tunnel" class="floatRight" />
				<div class="w330 absolute posTop posLeft left">
					<div class="sliderLink h185 pad8pxl caps">
						<div class="font35 pad4pxt classicTextShadow pad18pxr">accélerer votre site web</div>
						<a href="{url 'services'}"
						   title="Découvrez mes services en optimisation web"
						   class="font15 inlineBlock classicButton serif">maintenant !</a>
					</div>
				</div>
				<a href="http://www.flickr.com/photos/themonnie/2495892146"
				   class="block absolute posRight posBottom serif font10" target="_blank">
					photo : http://www.flickr.com/photos/themonnie/2495892146
				</a>
			</div>

			<div id="slide2" class="h185 hide absolute posTop posLeft w960 right">
				<img src="{mediaurl '/img/homepage/slide-prestations.jpg'}" width="630" height="185"
					 alt="Photo d'avions cascadeurs" />
				<div class="left w330 absolute posTop posLeft">
					<div class="sliderLink h185 pad8pxl caps">
						<div class="font35 pad4pxt classicTextShadow pad18pxr">témoignages clients</div>
						<a href="{url 'services'}"
						   title="Optimisez le temps de chargement de votre site web, maintenant !"
						   class="font15 inlineBlock classicButton serif">Nos références</a>
					</div>
				</div>
				<a href="http://www.flickr.com/photos/damo1977/3684814319"
				   class="block absolute posRight posBottom serif font10" target="_blank">
					photo : http://www.flickr.com/photos/damo1977/3684814319
				</a>
			</div>

			<div id="slide3" class="h185 hide absolute posTop posLeft w960 right">
				<img src="{mediaurl '/img/homepage/slide-pourquoi-optimiser.jpg'}" width="630" height="185"
					 alt="Photo à l'intérieur d'une voiture" />
				<div class="left w330 absolute posTop posLet">
					<div class="sliderLink h185 pad8pxl caps">
						<div class="font28 pad4pxt classicTextShadow pad18pxr">optimisation du temps de chargement</div>
						<a href="{url 'blog_post', rawurlencode(strtolower('pourquoi optimiser le temps de chargement de vos pages'))}"
						   class="font15 inlineBlock classicButton serif" title="Optimiser le temps de chargement, quelle utilité ?">lire l'article</a>
					</div>
				</div>
				<a href="http://www.flickr.com/photos/viernest/3380560365"
				   class="block absolute posRight posBottom serif font10 white" target="_blank">
					photo : http://www.flickr.com/photos/viernest/3380560365
				</a>
			</div>

			

		</div>
	</div>

	<div id="sliderMenu" class="absolute font15">
		<a href="#slide1">1</a>
		<a href="#slide2" class="yellow">2</a>
		<a href="#slide3" class="yellow">3</a>
	</div>
</div>