{extends 'zblog/base.html'}

{block header_scripts}
<link rel="alternate" type="application/atom+xml" title="Website feed" href="{url 'blog_feed'}" />
{include 'zblog/webfonts.html'}
{/block}

{block beforeContent}
<form id="searchbar" class="classicBorderTop marg8pxt pad8pxt lineHeight25px relative clearfix" action="404">
	<div class="floatLeft w360 font14">
		<a href="{url 'blog_feed'}" id="rssIcon" title="Suivez le blog avec le flux rss/atom" class="inlineBlock"></a>
	</div>
	<div><!--
		<div class="floatLeft w180 font14">
		Rechercher dans le blog :
		</div>
		<div class="floatLeft w240">
			<input class="serif classicShadow classicInput w240" type="text" name="website" value="http://exemple.com" />
		</div>
		<div class="floatLeft w180 right">
			<button type="submit" class="serif classicButton classicButtonFix font13">rechercher</button>
		</div>
						  -->
	</div>
</form>
{/block}

{block body}

{$calendar|safe}

<div id="blogContent" class="pad18pxt classicBorderTop marg18pxt">
	<div class="fauxColumn fauxColumn2ColFirst780">
		<div class="w780 tableCell valignTop" id="mainArticles">
			{block leftCol}
		</div>

		<div class="w180 tableCell valignTop" id="breves">
			<div class="pad8pxl plainBorderLeft" id="brevesWrapper">
				{include 'zblog/blog/right-column.html'}
			</div>
		</div>
	</div>
</div>
{/block}

{*The include template cannot contain inheritance block.
http://www.pluf.org/doc/template.html#link12*}

{block footer_scripts}
<script type="text/javascript" src="http://twitter.com/statuses/user_timeline/zeroload.json?callback=twitterCallback2&amp;count=5" defer></script>
<script type="text/javascript" src="http://feeds.delicious.com/v2/json/wouaren?count=5&callback=latest_delicious" defer></script>
<script type="text/javascript">
	{if $cfg_debug === true || $cfg_is_beta === true}
	var disqus_developer = 1;
	{/if}

	{literal}

	(function() {
		var links = document.getElementsByTagName('a');
		var query = '?';
		for(var i = 0; i < links.length; i++) {
			if(links[i].href.indexOf('#disqus_thread') >= 0) {
				query += 'url' + i + '=' + encodeURIComponent(links[i].href) + '&';
			}
		}
		document.write('<script async defer charset="utf-8" type="text/javascript" src="http://disqus.com/forums/zeroload/get_num_replies.js' + query + '"></' + 'script>');
	})();
</script>
{/literal}
{/block}

{block footer}
{include 'zblog/inc/footer-normal.html'}
{/block}