<h1 class="font18 marg0 lineHeight1 classicBorderBottom">derniers articles</h1>

{foreach $last_posts as $post}
<div class="classicBorderBottom textContent pad8pxb marg8pxb lineHeight1p2">
	<span class="gray sansRounded">{$post.post_date|date: "%d/%m"}</span>
	<a href="{url 'blog_post', rawurlencode(strtolower($post.title))}">{$post.title}</a>
</div>
{/foreach}

{* faire mon propre js
<h1 class="marg0t classicBorderBottom pad4pxb marg8pxb font18 lineHeight1">Derniers commentaires</h1>
<div id="recentcomments" class="dsq-widget"><script type="text/javascript" src="http://disqus.com/forums/zeroload/recent_comments_widget.js?num_items=3&hide_avatars=0&avatar_size=24&excerpt_length=200"></script></div>
*}

<h1 class="marg0t classicBorderBottom pad4pxb marg8pxb font18 lineHeight1">@zeroload</h1>
<div id="twitter_div" class="breakwords lineHeight1p2"></div>

<div class="classicBorderTop pad8pxt right">
	<a href="http://twitter.com/zeroload" class="classicButton font10">follow me</a>
</div>

<h1 class="font18 marg0 lineHeight1 classicBorderTop pad8pxt">Delicious</h1>
<div class="classicBorderTop"></div>
<div id="delicious_div"></div>

<div class="pad4pxt right">
	<a href="http://delicious.com/network?add=wouaren" class="classicButton font10">add me</a>
</div>
